body {
  background-color: rgb(28, 28, 30);
  color: rgb(174, 174, 178);
  padding: 5vh;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

table {
  border: 1px solid rgb(72, 72, 74);
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: center;
}

caption {
  caption-side: top;
  text-align: center;
}

thead {
  background-color: rgb(44, 44, 46);
}

th,
td {
  border: 1px solid rgb(72, 72, 74);
  padding: 20px;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(44, 44, 46);
}
tbody > tr:nth-of-type(odd) {
  background-color: rgb(58, 58, 60);
}

.filterSection {
  display: flex;
  float: left;
  padding: 5px 10px 5px 10px;
  border: 1px solid rgb(72, 72, 74);
  border-bottom: none;
}
.filterSection .checkbox {
  display: flex;
  margin-right: 5px;
}

.filterSection .checkbox input {
  margin-left: 0;
}
